priority -50	
snippet brk "braket" w
\braket{${1:${VISUAL}}}{${2}}
endsnippet

snippet int "integral with limits" w
\int_{${1:${VISUAL}}}^{${2}}
endsnippet

snippet nn "no number in align env must be before \\" w
\nonumber
endsnippet

snippet 1/2 "converts to frac" w
\frac{1}{2}
endsnippet

snippet pd "partial" w
\partial_{${1:${VISUAL}}}
endsnippet

snippet mc "calligraphic" w
\mathcal{${1:${VISUAL}}}
endsnippet
